<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- code for mapper.xml file DTD -->
  
 <mapper namespace="com.alpaca.eg.database.repository.UsedGoodsRepository">
 	<!-- select tag needs method name, parameter, & return type -->
 	<select id="selectUsedGoodsList" resultType="com.alpaca.eg.database.domain.UsedGoods"> <!--  no parameters for selectUsedGoodsList -->
 		SELECT
 			`id`,
 			`sellerId`,
 			`title`,
 			`price`,
 			`description`,
 			`image`,
 			`createdAt`,
 			`updatedAt`
 		FROM `used_goods`;
 	</select>
 
 </mapper>